html, body {
	height:100%;
	width:100%;
	font-family:'Space Mono', monospace;
	color: #222;
}

.test{
	font-family: 'Space Mono', Pacifico;
	color:#222;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

@media print {
  .d-print-none {
    display: none !important;
  }
}