<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
	{% load static %}
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "student/style.css" %}">
	
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="{% static "student/logo.png" %}" alt="Logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link"href="{% url 'results' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"href="#">About</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link"href="#">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"href="{% url 'admin:index' %}">Admin</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div class ="container-fluid padding">
	<div class ="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet the Team</h1>
			<hr>
		</div>
	</div>
	</div>

	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-6">
				<div class="card">
					<img class="card-img-top" src="{% static 'student/unnati2.jpg' %}">
					<div class="card-body">
						<h4 class="card-title">Unnati Gupta</h4>
						<p class="card-text">Lead Programmer. Currently working on Django Projects.</p>
						<a href="https://github.com/unnatixlr8" class="btn btn-outline-secondary">Github Profile</a>
					</div>
				</div>
			</div>
				<div class="col-md-6">
				<div class="card">
					<img class="card-img-top" src="{% static 'student/unnati2.jpg' %}">
					<div class="card-body">
						<h4 class="card-title">Tejaswini CA</h4>
						<p class="card-text">Project Manager. Currently working on her academics.</p>
						<a href="https://github.com/teju0507" class="btn btn-outline-secondary">Github Profile</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="test">
		<p>Hello this should be in different font and in color red</p>
	</div>
	<footer>
		<div class="container-fluid padding">
			<div class="row text-center">
				<div class="col-12">
					<hr class="light">
					<h5>&copy; MarkX </h5>
					<p>Unnati Gupta, Tejaswini CA</p>
				</div>
			</div>
			
		</div>
	</footer>
</body>
</html>